/* login screen */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body { 
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.login { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}
.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.room h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.finish h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
  width: 100%; 
  margin-bottom: 10px; 
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
.room{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
.finish{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
.player-in-room{
  color:white;
  font-weight: bold;
  background-color: #111111;
  opacity:0.5;
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 20px;
}

/* game screen */
.player-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card{
  border: solid 2px #fff;
  width:70px;
  height:100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.card-hover:hover{
    margin-bottom: 20px;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.yellow{
  background-color: #fdb933;
}
.black{
  background-color: black;
}
.ellipse{
  width:50px;
  height:80px;
  border-radius: 50%;
  border: solid 2px #fff;
  transform:rotate(20deg);
  position:relative;
  top:9px;
  left:8px;
}
.logo{
  font-size: 18px;
  color:yellow;
  position:relative;
  top:5px;
  left:7px;
}
.solid-shadow{
  /*影を縦方向に重ねる*/
  text-shadow: 
    0 0.01em 0 #aaa,
    0 0.02em 0 #999,
    0 0.03em 0 #888,
    0 0.04em 0 #777,
    0 0.05em 0 #666,
    0 0.06em 0 #555,
    0 0.07em 0 #444,
    0 0.08em 0 #333,
    0 0.09em 0 #222,
    0 0.1em 0 #111;
}
.number{
  transform:rotate(-20deg);
  width:10px;
  color:white;
  font-size: 25px;
  font-weight: bold;
  position:relative;
  bottom:4px;
  left:17px;
}
.special{
  transform:rotate(-20deg);
  width:10px;
  color:white;
  font-size: 10px;
  font-weight: bold;
  position:relative;
  bottom:4px;
  left:17px;
}

.special-skip-1{
  transform:rotate(-20deg);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: solid 5px #fff;
  position:relative;
  top:6px;
  left:8px;
}
.special-skip-2{
  transform:rotate(20deg);
  background-color: white;
  width: 5px;
  height: 24px;
  position:relative;
  bottom:36px;
  left:20px;
}
.special-reverse-1{
  display: inline-block;
  border-style: solid;
  border-width: 0 7px 12px 7px;
  border-color: transparent transparent #fff transparent;
  position:relative;
  bottom:7px;
  left:10px;
}
.special-reverse-2{
  background-color: white;
  width: 6px;
  height: 24px;
  position:relative;
  bottom:44px;
  left:14px;
  border-radius: 0 0 0 100%;
}
.special-reverse-3{
  transform:rotate(180deg);
  display: inline-block;
  border-style: solid;
  border-width: 0 7px 12px 7px;
  border-color: transparent transparent #fff transparent;
  position:relative;
  bottom:70px;
  left:16px;
}
.special-reverse-4{
  background-color: white;
  width: 6px;
  height: 24px;
  position:relative;
  bottom:140px;
  left:20px;
  border-radius: 0 100% 0 0;
}
.special-draw_2-1{
  transform:rotate(-20deg);
  width:13px;
  height:20px;
  background-color: white;
  position:relative;
  top:2px;
  left:18px;
}
.special-draw_2-2{
  transform:rotate(-20deg);
  width:13px;
  height:20px;
  background-color: white;
  position:relative;
  bottom:17px;
  left:15px;
}
.special-wild_draw_4-1{
  transform:rotate(-20deg);
  width:13px;
  height:20px;
  position:relative;
  left:20px;
  top: 2px;
}
.special-wild_draw_4-2{
  transform:rotate(-20deg);
  width:13px;
  height:20px;
  position:relative;
  bottom:26px;
  left:9px;
}
.special-wild_draw_4-3{
  transform:rotate(-20deg);
  width:13px;
  height:20px;
  position:relative;
  bottom:50px;
  left:22px;
}
.special-wild_draw_4-4{
  transform:rotate(-20deg);
  width:13px;
  height:20px;
  position:relative;
  bottom:77px;
  left:12px;
}
.special-wild-1{
  display: inline-block;
  width: 25px;
  height: 40px;
  border-radius: 100% 0 0 0;
  position: relative;
  bottom: 16px;
  left: 0px;
}
.special-wild-2{
  display: inline-block;
	width: 25px;
	height: 40px;
	border-radius: 0 100% 0 0;
  position:relative;
  bottom:91px;
  left:22px;
  transform:rotate(5deg);
}
.special-wild-3{
  display: inline-block;
  width: 25px;
  height: 35px;
  border-radius: 0 0 0 100%;
  position: relative;
  bottom: 130px;
  left: -1px;
  transform:rotate(5deg);
}
.special-wild-4{
  display: inline-block;
    width: 25px;
    height: 38px;
    border-radius: 0 0 100% 0;
    position: relative;
    bottom: 201px;
    left: 20px;
    transform: rotate(5deg);
}
.special-white_wild{
  width:50px;
  height:80px;
  border-radius: 50%;
  background-color: white;
  position:relative;
  bottom:18px;
  left:-2px;
}
.special-wild_shuffle{
  transform:rotate(-20deg);
  color: white;
  width:50px;
  height:20px;
  border-radius: 50%;
  position:relative;
  top:8px;
  left:-3px;
}
.player1{
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 30%;
}
.player2{
  transform:rotate(90deg);
  width: 40%;
  position: absolute;
  top: 45%;
}
.player3{
  transform:rotate(180deg);
  width: 40%;
  position: absolute;
  top: 65px;
  right: 30%;
}
.player4{
  transform:rotate(270deg);
  width: 40%;
  position: absolute;
  top: 40%;
  right: 0;
}
.field{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width:300px;
  height:300px;
}
.Deck{
  display:flex;
}

p{
  color: rgb(255, 255, 255);
}

#fullOverlay{
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(100, 100, 100, .8);
  z-index: 2147483647;
}
